<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
</head>
<body>
    <form method="post">
        <label>
            <input name="surname" type="text" placeholder="Фамилия"> <br>
            <input name="name" type="text" placeholder="Имя"> <br>
            <input name="middleName" type="text" placeholder="Отчество"> <br>
            <input name="passport" type="number" min="1000000000" max="9999999999" placeholder="Паспорт"> <br>
            <input name="birthday" type="text" placeholder="гггг-мм-дд"> <br><br>

            <input type="submit" value="Добавить сотрудника">
        </label>
    </form>

    <a href="/employee">Отмена</a>
</body>
</html>